                   <div ng-repeat="expense in data">
  <span>{{expense.category}}</span>
    <span>{{expense.university}}</span>
<!--   <span>{{expense.body}}  by {{expense.author}}</span> -->

</div>


    <nvd3 options="options" data="data"></nvd3>

<form ng-submit="addExpense()">
  <h3>Add a new Expense</h3>

  <div class="form-group">
    <input type="text" class="form-control" placeholder="Category" ng-model="category"></input>
    <input type="text" class="form-control" placeholder="Amount" ng-model="amount"></input>
  </div>


  <button type="submit" class="btn btn-primary">Post</button>
</form>



  <button type="submit" class="btn btn-primary"><a href="/#/group" style="color:white;">Access Group</a></button>


<h1>{{sumSingleUser}}</h1>
  





