<div class="wrapper">
    <form class="form-signin" ng-submit="register()">       
      <h2 class="form-signin-heading">Please Register</h2>
      <input type="text" class="form-control" name="username" placeholder="Username" required="" autofocus="" ng-model="user.username" ng-model="user.username"/>
      <input type="password" class="form-control" name="password" placeholder="Password" required="" ng-model="user.password"/>
       <input type="email" class="form-control" name="password" placeholder="Email" required="" ng-model="user.email"/>      
       <input type="group" class="form-control" placeholder="Enter your Group" ng-model="user.group"></input>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>   
    </form>
  </div>